<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>JulieMurphy Creative</title>


        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" href="css/style.css">    
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/form.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>       
    </head>

    <body class="container-fluid">
        <div class="black">
            <div class = "row">
                <div class="col-xs-2">
                    <img src="images/avatar.png" class="avatar">
                </div>
                <div class="col-xs-6 text-right">
                    <h1 class="whiteText">Julie Murphy Creative</h1>
                </div>
                <div class="col-xs-4 text-right">
                    <nav>
                        <ul class="menu">
                            <li><a href="#about">About</a></li>
                            <li><a href="#port">Portfolio</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="pantoneGreen small">
        </div>   
        <div class="black text-center">
            <img src="images/banner.png">
        </div>
        <div class="pantoneGreen small">
        </div>
        <div class="black medium">
        </div>
        <div class="grey">
            <h2 class="whiteText text-center" id="about">
            About
            </h2>
        </div>
        <div>
            <p class="smallPara" id="para1">Since 1993, I've been providing branding and identity services for aggressive startups and established companies on the move and other well known larger companies. But this experience goes far beyond your typical logo, business card, letterhead, stationery design packages. Yes, I handle a lot of these bread and butter branding needs, but most businesses don't follow such a predictable pattern. Or maybe you need a trade show booth and vehicle wrap designed, and the deadline was yesterday. Maybe it's a package design for a hot new product. It could even be designing a set of collectable trading cards. With a background in traditional illustration, photography, web design and graphic design for print, I have the breadth and depth of experience to deliver an elegant solution on time and on spec.</p>

            <p class="smallPara marginBottom">Old school meets the digital long before computers became a viable tool for visual and graphical communications, I was hard at work mastering the basics. Fundamentals such as anatomy, life drawing,perspective, fontography, color theory, and layout were stressed along with developing a proficiency with such tools of the trade as ink, pen, pencil, paint and brush. Along the way I also developed an interest and expertise in photography, product package design and web design</p>
        </div>
        <div>
        <div class="black medium">
        </div>
        <div class="pantoneGreen small">
        </div>
        <div class="black medium">
        </div>
            <div class="grey whiteText text-center">
            <h2 id="port">
                Portfolio
            </h2>
        </div>
            <div class="row smallPara marginBottom">
                <div class="col-xs-3">
                    <h3 class="text-center" >Branding</h3>
                    <img src="images/smelly.png" class="largeLogo">
                </div>
                <div class="col-xs-3">
                    <h3 class="text-center">POP / POS</h3>
                    <img src="images/eclipse.png" class="largeLogo">
                </div>
                <div class="col-xs-3">
                    <h3 class="text-center">Web Design</h3>
                    <img src="images/eden.png" class="largeLogo">
                </div>
                <div class="col-xs-3">
                    <h3 class="text-center">Photography</h3>
                    <img src="images/mushrooms.png" class="largeLogo">
                </div>
            </div>
        <div class="black medium">
        </div>
        <div class="pantoneGreen small">
        </div>
        <div class="black medium"></div>
    <div class="grey">
        <a name="contact"><h2 class="whiteText text-center" id="contact" >Contact Me</h2></a>
    </div>
    <div class="black">
        <div class="row">
            <div class="col-xs-9">
                <form action="" method="post" id="topMargin">
                    <div class="contactMargin">
                        <input type="text" id="input-name" placeholder="Name" name="name" required>
                        <input type="email" id="input-email" placeholder="Email" name="email" required>
                    </div>
                    <div class="contactMargin">
                        <input type="text" id="input-subject" placeholder="Subject" name="subject" required>
                    </div>
                    <div class="contactMargin">
                        <textarea name="message" id="input-message" placeholder="Message" required></textarea>
                    </div>
                    <div class="contactMargin">
                        <button type="submit" class="btn grey" id="btn-submit">Send</button>
                    </div>
                </form>
                <div id="formSubmission">
                    
                </div>
            </div>          
            <div class="col-xs-3 text-right">
                <img src="images/banner.png" alt="julie murphy logo" class="largeLogo">
                <div class="marginBottom">
                    <p class="whiteText blockDisplay blockPadding">jjhomeimp@aol.com</p>
                    <img src="images/email.png" alt="email button" class="iconMargin">
                </div>
                <div class="marginBottom">
                    <p class="whiteText blockDisplay blockPadding">O  843-505-1716</p>                 <img src="images/phone.png" alt="phone button" class="phone iconMargin">
                </div>
                <div class="marginBottom">
                    <p class="whiteText blockDisplay blockPadding">Hardeeville, SC</p>
                    <img src="images/house.png" alt="address button" class="iconMargin" >
                </div>
                <div class="marginBottom iconMargin">
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-xs-4">
                <p>Copyright 2017 Julie Murphy Creative</p>
            </div>
            <div class="col-xs-4">
                <p class="text-center">Designed by <a href="https://www.facebook.com/Julie-Murphy-251651765263247/" target="_blank">Julie Murphy</a></p>
            </div>
            <div class="col-xs-4">
                <p class="text-right">powered by <a href="https://www.smellydogcoding.com">Smelly Dog Coding</a></p>
            </div>
        </div>
    </footer>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        </div>
        
        
            <script src="js/jquery-1.11.1.min.js"></script>		
            <script src="js/plugins.js"></script>
            <script src="js/app.js"></script>

    </body>

</html>